{
    email your-email@stage.evedi.io
}

stage.evedi.io {
    root * /usr/share/caddy
    file_server

    handle /.well-known/acme-challenge/* {
        root * /usr/share/caddy/acme-challenge
        file_server
    }

    handle_path /api* {
        reverse_proxy http://edi_dash_api:5050
    }

    reverse_proxy /* http://flutter_web:80

    encode gzip
}
